 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-1">
                  <h3 class="text-center">The first-ever gathering of Middle East podcasters and listeners!</h3>
                  </div>
              </div>
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2">
                  <div class="icon">
                    <i class="fa fa-microphone" aria-hidden="true"></i>
                  </div>
                  <h4>For Podcast Creatives</h4>
                  <p>This is the opportunity to meet your peers, exchange best practices, and collectively build the podcast ecosystem across MENA.</p>
                </div>
                <div class="col-lg-4">
                  <div class="icon">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                  </div>
                  <h4>For Podcast Listeners</h4>
                  <p>This is the opportunity to meet your favourite podcast hosts, learn more about how they create their shows, and participate in some live recordings.</p>
                </div>
            </div>
        </div>
    </section>
