 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>We talk about the conference here. Let's make some amazing content Heba!</p>
                </div>
                <div class="col-lg-4">
                  <p>More content for you to create ;)</p>
                </div>
            </div>
        </div>
    </section>
