 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-2">
                  <h4>The first-ever gathering of Middle East podcasters and listeners!</h4>
                  </div>
              </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p> For podcast creatives, this is the opportunity to meet your peers, exchange best practices, and collectively build the podcast ecosystem across MENA.</p>
                </div>
                <div class="col-lg-4">
                  <p>For podcast listeners, this is the opportunity to meet your favourite podcast hosts, learn more about how they create their shows, and participate in some live recordings.</p>
                </div>
            </div>
        </div>
    </section>
