
    <!-- agenda Grid Section -->
    <section class="success" id="agenda">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Agenda</h2>
                </div>
            </div>
            <div class="row">
              <table class="table table-bordered table-hover table-main">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Type</th>
                    <th scope="col">Title</th>
                    <th scope="col">Speakers</th>
                    <th scope="col">Representing</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">2:00 - 2:30 PM</th>
                    <td>Registration</td>
                    <td class="responsive-hide">Welcoming</td>
                    <td class="responsive-hide">Registration Officers</td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Chirag Desai</td></tr>
                        <tr><td>Khayra Bundakji</td></tr>
                      </table>
                    </td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Amaeya FM Network</td></tr>
                        <tr><td>Azzbda Podcast</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2:30 - 2:55 PM</th>
                    <td>Meet & Greet</td>
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                  </tr>
                  <tr>
                    <th scope="row">3:00 - 3:10 PM</th>
                    <td>Kickoff</td>
                    <td class="responsive-hide">Call to Stage</td>
                    <td class="responsive-hide">Hosts</td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Ammar Al-Sabban</td></tr>
                        <tr><td>Reem Hameed</td></tr>
                      </table>
                    </td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Mstdfr Network</td></tr>
                        <tr><td>Dukkan Media</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3:10 - 3:25 PM</th>
                    <td class="is-responsive">Starting a Podcast</td>
                    <td class="is-responsive responsive-right">Talk</td>
                    <td class="responsive-hide">Speaker</td>
                    <td class="is-responsive responsive-right">Omar Tom</td>
                    <td class="is-responsive responsive-right">Dukkan Media</td>
                  </tr>
                  <tr>
                    <th scope="row">3:10 - 3:25 PM</th>
                    <td class="is-responsive">Best Podcasting Techniques</td>
                    <td class="is-responsive responsive-right">Panel</td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Moderator</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td class="responsive-right">Chirag Desai</td></tr>
                        <tr><td class="responsive-right">Rami Taibah</td></tr>
                        <tr><td class="responsive-right">Mohammed Alshamali</td></tr>
                        <tr><td class="responsive-right">Ahmed Alrashed</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td class="responsive-right">Amaeya FM Network</td></tr>
                        <tr><td class="responsive-right">Mstdfr Network</td></tr>
                        <tr><td class="responsive-right">Zofi Podcast Network</td></tr>
                        <tr><td class="responsive-right">Alaab Podcast</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3:55 - 4:05 PM</th>
                    <td>Break</td>
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                  <tr>
                    <th scope="row">4:10 - 4:25 PM</th>
                    <td class="is-responsive">Monetising & Protecting Your IP</td>
                    <td class="is-responsive responsive-right">Talk</td>
                    <td class="responsive-hide">Speaker</td>
                    <td class="is-responsive responsive-right">Suhaib Hammad</td>
                    <td class="is-responsive responsive-right">SME Law</td>
                  </tr>
                  <tr>
                    <th scope="row">3:10 - 3:25 PM</th>
                    <td class="is-responsive">Mastering Storytelling</td>
                    <td class="is-responsive responsive-right">Panel</td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Moderator</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td class="responsive-right">Khayra Bundakji</td></tr>
                        <tr><td class="responsive-right">Heba Fisher</td></tr>
                        <tr><td class="responsive-right">Fatma Almheiri</td></tr>
                        <tr><td class="responsive-right">Isra Abuzayed</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td class="is-responsive responsive-right">Azzbda Podcast</td></tr>
                        <tr><td class="is-responsive responsive-right">Kerning Cultures</td></tr>
                        <tr><td class="is-responsive responsive-right">Emara</td></tr>
                        <tr><td class="is-responsive responsive-right">Hamburger Generation Podcast</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4:55 - 5:05 PM</th>
                    <td>Break</td>
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                  <tr>
                    <th scope="row">5:10 - 5:25 PM</th>
                    <td class="is-responsive">Anghami Launches ME Podcasts</td>
                    <td class="is-responsive responsive-right">Talk</td>
                    <td class="responsive-hide">Speaker</td>
                    <td class="is-responsive responsive-right">Rami Zeidan</td>
                    <td class="is-responsive responsive-right">Anghami</td>
                  </tr>
                  <tr>
                    <th scope="row">5:30 - 5:55 PM</th>
                    <td class="is-responsive">Marketing & Growing your Audience</td>
                    <td class="is-responsive responsive-right">Panel</td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Moderator</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td class="is-responsive responsive-right">Mohamed Al-Awadhi</td></tr>
                        <tr><td class="is-responsive responsive-right">Basel Antabawi</td></tr>
                        <tr><td class="is-responsive responsive-right">Ed Clowes</td></tr>
                        <tr><td class="is-responsive responsive-right">Sari Sabban</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td class="is-responsive responsive-right">Wild Peeta</td></tr>
                        <tr><td class="is-responsive responsive-right">Basel Meets</td></tr>
                        <tr><td class="is-responsive responsive-right">Gulf News</td></tr>
                        <tr><td class="is-responsive responsive-right">Ilm FM Podcast</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">6:00 - 6:15 PM</th>
                    <td class="is-responsive">Podcast Ecosystem, Next Steps?</td>
                    <td class="is-responsive responsive-right">Talk</td>
                    <td class="responsive-hide">Hosts</td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td class="responsive-right">Ammar Al-Sabban</td></tr>
                        <tr><td class="responsive-right">Reem Hameed</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td class="responsive-right">Mstdfr Network</td></tr>
                        <tr><td class="responsive-right">Dukkan Media</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">6:15 - 6:20 PM</th>
                    <td>Closing</td>
                    <td class="responsive-hide"></td>
                    <td class="responsive-hide">Hosts</td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Ammar Al-Sabban</td></tr>
                        <tr><td>Reem Hameed</td></tr>
                      </table>
                    </td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Mstdfr Network</td></tr>
                        <tr><td>Dukkan Media</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">6:20 - 7:00 PM</th>
                    <td>Music & Mingling</td>
                    <td class="responsive-hide"></td>
                    <td class="responsive-hide">DJ</td>
                    <td class="responsive-hide">Rami Zeidan</td>
                    <td class="responsive-hide">Anghami</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </section>
