
    <!-- agenda Grid Section -->
    <section class="success" id="agenda">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Agenda</h2>
                </div>
            </div>
            <div class="row">
              <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Type</th>
                    <th scope="col">Speakers</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">2:00 - 2:30 PM</th>
                    <td>Registration</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">2:30 - 2:55 PM</th>
                    <td>Meet & Greet</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3:00 - 3:10 PM</th>
                    <td>Kickoff</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3:10 - 3:25 PM</th>
                    <td>Starting a Podcast</td>
                    <td>Talk</td>
                    <td></td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <th scope="row">3:30 - 3:55 PM</th>
                    <td>Best Podcasting Techinques</td>
                    <td>Panel</td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <th scope="row">3:55 - 4:05 PM</th>
                    <td>Break</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">4:10 - 4:25 PM</th>
                    <td>Monetising & Protecting Your IP</td>
                    <td>Talk</td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <th scope="row">4:10 - 4:25 PM</th>
                    <td>Mastering Storytelling</td>
                    <td>Panel</td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <th scope="row">4:55 - 5:05 PM</th>
                    <td>Break</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">5:10 - 5:25 PM</th>
                    <td>Anghami Launches ME Podcasts</td>
                    <td>Talk</td>
                    <td>Rami Zaidan</td>
                  </tr>
                  <tr>
                    <th scope="row">5:30 - 5:55 PM</th>
                    <td>Marketing & Growing your Audience</td>
                    <td>Panel</td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <th scope="row">6:00 - 6:15 PM</th>
                    <td>Podcast Ecosystem, Next Steps?</td>
                    <td>Talk</td>
                    <td>TBD</td>
                  </tr>
                  <tr>
                    <th scope="row">6:15 - 6:20 PM</th>
                    <td>Closing</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">6:20 - 7:00 PM</th>
                    <td>DJ & Mingling</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </section>
