
    <!-- agenda Grid Section -->
    <section class="success" id="agenda">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>2019 Forum Agenda</h2>
                </div>
            </div>
            <div class="row">
              <table class="table table-bordered table-hover table-main">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Topic</th>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Speakers</th>
                    <th scope="col">Representing</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">2:30 - 3:00 PM</th>
                    <td>Doors Open, Registration, Art Jameel Tours</td>
                    <td class="responsive-hide"></td>
                    <td class="responsive-hide"></td>
                    <td class="responsive-hide">
                      <table>
                      </table>
                    </td>
                    <td class="responsive-hide">
                      <table>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3:00 - 3:10 PM</th>
                    <td>Introduction</td>
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                    <td class="responsive-hide">
                  </tr>
                  <tr>
                    <th scope="row">3:10 - 3:40 PM</th>
                    <td>The State of the Podcast Industry</td>

                    <td class="responsive-hide"></td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Moderator</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                      </table>
                    </td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Hebah Fisher</td></tr>
                        <tr><td>Rami Zeidan</td></tr>
                        <tr><td>Cheryl King</td></tr>
                        <tr><td>Abdulrahman Alomran</td></tr>
                      </table>
                    </td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Kerning Cultures</td></tr>
                        <tr><td>Anghami</td></tr>
                        <tr><td>Markettiers</td></tr>
                        <tr><td>AR Podcasts</td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3:45 - 4:15 PM</th>
                    <td class="is-responsive">How to Grow Your Listening Audience</td>
                    <td class="is-responsive responsive-right"></td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Moderator</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td>Basel Anabtawi</td></tr>
                        <tr><td>Big Hass</td></tr>
                        <tr><td>Rana Nawas</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td>Basel Meets</td></tr>
                        <tr><td>Buckle Up</td></tr>
                        <tr><td>When Women Win</td></tr>
                      </table>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row">4:20 - 4:50 PM</th>
                    <td class="is-responsive">The Struggle is Real: Making Money in Podcasting</td>
                    <td class="is-responsive responsive-right"></td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td>Hebah Fisher</td></tr>
                        <tr><td>Mshari Alonaizy</td></tr>
                        <tr><td>Ramsey George</td></tr>
                        <tr><td>Rami Taibah</td></tr>
                        <tr><td>Stefano Fallaha</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td>Kerning Cultures</td></tr>
                        <tr><td>Finyal Media</td></tr>
                        <tr><td>Sowt</td></tr>
                        <tr><td>Mstdfr</td></tr>
                        <tr><td>Fallound</td></tr>
                      </table>
                      </td>
                  </tr>

                  <tr>
                    <th scope="row">5:05 - 5:30 PM</th>
                    <td class="is-responsive">Podcast Horror Stories</td>
                    <td class="is-responsive responsive-right"></td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Moderator</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td>Ammar Sabban</td></tr>
                        <tr><td>Abdulaziz Almuaiqel</td></tr>
                        <tr><td>Fowzi Mahoon</td></tr>
                        <tr><td>Saeed Alshamsi</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td>Mstdfr</td></tr>
                        <tr><td>Alkoora Ma3na</td></tr>
                        <tr><td>House Zofi</td></tr>
                        <tr><td>Root Quest</td></tr>
                      </table>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row">5:35 - 6:00 PM</th>
                    <td class="is-responsive">The Art of the Interview</td>
                    <td class="is-responsive responsive-right"></td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Moderator</td></tr>
                        <tr><td>Panelist</td></tr>
                        <tr><td>Panelist</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td></td></tr>
                        <tr><td>Alex Atack</td></tr>
                        <tr><td>Ashraf Faden</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td></td></tr>
                        <tr><td>Kerning Cultures</td></tr>
                        <tr><td>Eish Btswi</td></tr>
                      </table>
                      </td>
                  </tr>
                  <tr>
                  <tr>
                    <th scope="row">6:05 - 6:30 PM</th>
                    <td class="is-responsive"></td>
                    <td class="is-responsive responsive-right"></td>
                    <td class="responsive-hide">
                      <table>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td></td></tr>
                        <tr><td>To Be Announced</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td></td></tr>
                      </table>
                      </td>
                  </tr>
                    <th scope="row">6:35 - 7:00 PM</th>
                    <td class="is-responsive">Networking Ice Breaker</td>
                    <td class="is-responsive responsive-right"></td>
                    <td class="responsive-hide">
                      <table>
                        <tr><td>Facilitator</td></tr>
                        <tr><td>Facilitator</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td>Hebah Fisher</td></tr>
                        <tr><td>Ammar Sabban</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td></td></tr>
                        <tr><td>Kerning Cultures</td></tr>
                        <tr><td>Mstdfr</td></tr>
                      </table>
                      </td>
                  </tr>
                  <tr>
                    <th scope="row">7:00 - 8:00 PM</th>
                    <td class="is-responsive"></td>
                    <td class="is-responsive responsive-right"></td>
                    <td class="responsive-hide">
                      <table>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td></td></tr>
                        <tr><td>DJ & Networking</td></tr>
                      </table>
                    </td>
                    <td class="is-responsive responsive-right">
                      <table>
                        <tr><td></td></tr>
                      </table>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </section>
