    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <div class="date">{{ site.date}}</div>
                        <div class="location">{{ site.location}}</div>
                        <hr class="star-light">
                        <div class="tagline">{{ site.tagline}}</div>
                         <a class="btn btn-primary btn-lg" target="_blank" href="https://s966.typeform.com/to/vcrRXE">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
