    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <div class="date">{{ site.date}}</div>
                        <div class="location"><a style="color:white" href="https://www.google.com/maps/place/in5+Media/@25.0358507,55.1815652,15z/data=!4m5!3m4!1s0x0:0xd509cd0c5330f794!8m2!3d25.0358507!4d55.1815652?hl=en" target="_blank">{{ site.location}} (Google Maps)</a></div>
                        <hr class="star-light">
                        <div class="tagline">{{ site.tagline}}</div>
                         <a class="btn btn-primary btn-lg disabled" target="_blank" href="#">Registration Closed</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
