    <!-- Pre-forum Header
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <h3 id="tagline">Where Middle Eastern podcasters connect, share, and grow together!</h3>
                        <button>I am a button</button>
                </div>
            </div>
        </div>
    </header>
    -->


    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <div class="date">{{ site.date}}, 3PM-7PM</div>
                        <div class="location"><a class="map-link" href="https://www.google.com/maps/place/Jameel+Arts+Centre/@25.2290425,55.3403969,15z/data=!4m2!3m1!1s0x0:0x9589ec3a10d15a86?sa=X&ved=2ahUKEwj20Iunt6_kAhXNDOwKHe3pBN8Q_BIwE3oECA8QCA">{{ site.location}}, DUBAI</a></div>
                        <p>
                          The second annual Middle East Podcast Forum cohosted by Art Jameel is here! This Forum is the first-of-its-kind official gathering of podcasters across the Arab world to share experiences, knowledge, and best practices from industry leaders in the region.</p> 
                        <hr class="star-light">
                        <div class="tagline">{{ site.tagline}}</div>
                         <a class="btn btn-primary btn-lg" target="_blank" href="https://s966.typeform.com/to/vcrRXE">Register Now</a>
                    </div>
                </div>
            </div>

            <div class="row sponsors">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-3">
                <a href="http://mstdfr.com">
                <img class="img-responsive" src="img/mstdfr.png" alt="">
                </a>
              </div>
              <div class="col-sm-2">
                <a href="http://kerningcultures.com">
                  <img class="img-responsive kc" src="img/kc.png" alt="">
                </a>
              </div>
              <div class="col-sm-3 center">
                <a href="https://jameelartscentre.org/">
                  <img class="img-responsive" src="img/alj.png" alt="">
                </a>
              </div>
              <div class="col-sm-2">
              </div>
            </div>
        </div>
    </header>
