<section id="newsletter-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Newsletters Archive</h3>
        <hr>
        <h4>November 2018 </h4><a href="https://mailchi.mp/eb71d8e12a51/thank-you-129087"><em>To Patreon or not to Patreon, Anghami podcast push, and Yalla podcasting network</em></a>
        <h4>December 2018 </h4><a href="https://mailchi.mp/a0a7f958213e/me-podcast-forum-december-2018"><em>Announcing the Arabic newsletter, Spotify Arabia, and the Beyond Podcast podcast</em></a>

        <h4>January 2019 </h4><a href="https://us19.campaign-archive.com/?u=effbe51b005308df15c77177b&id=8e933193b6"><em>Who's listening to podcasts, recording gear recommendations, and Startup Hustle Arabia podcast</em></a>

        <h4>February 2019 </h4><a href="https://us19.campaign-archive.com/?u=effbe51b005308df15c77177b&id=af09d1df26"><em>Gimlet acquired, recording gear recommendations II, and Abaih podcast</em></a>
      </div>
    </div>
  </div>
</section>


