 <!-- Contact Section -->
    <section class="success" id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Join Us!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <p>Registration is free, but there are a limited number of seats. Please confirm your registration through this form.</p> 
               <a class="btn btn-primary btn-lg" target="_blank" href="https://s966.typeform.com/to/vcrRXE">Register Now</a>
            </div>
        </div>
    </section>
