<section id="studios">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Studios</h3>
        <hr>
        <p>Studios available for rent</p>
          <table class="table table-bordered table-hover table-main">
            <thead class="thead-dark">
              <tr>
                <th scope="col">City</th>
                <th scope="col">Studio Name</th>
                <th scope="col">Equipment Available</th>
                <th scope="col">Rate</th>
                <th scope="col">Notes</th>
                <th scope="col">Contact</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Amman</td>
                  <td class="responsive-hide">Sowt</td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide">
                  </td>
                  <td class="responsive-hide">
                  </td>
                  <td>ramsey [at] sowt [dot] com</td>
                </tr>
                <tr>
                  <td>Beirut</td>
                  <td class="responsive-hide">Kerning Cultures</td>
                  <td class="responsive-hide">Rode NTG-2 shotgun mic, Zoom H6</td>
                  <td class="responsive-hide">
                    No studio, just gear
                  </td>
                  <td></td>
                  <td class="responsive-hide">
                    alex [at] kerningcultures [dot] com
                  </td>
                </tr>
                <tr>
                  <td class="is-responsive">Beirut</td>
                  <td class="is-responsive responsive-right">Goldmine Studios</td>
                  <td class="responsive-hide"></td>
                  <td class="is-responsive responsive-right"></td>
                  <td class="is-responsive responsive-right"> +961 3 672 791</td>
                  <td>info [at] goldminestudions [dot] com
                </tr>
                <tr>
                  <td class="is-responsive">Cairo</td>
                  <td class="is-responsive responsive-right">Aracast</td>
                  <td class="responsive-hide">2 Audio Technica 2035, 2 samson boom arms
 & pop filters, zoom Audio Interface</td>
                  <td class="is-responsive responsive-right"></td>
                  <td class="is-responsive responsive-right">A perfect soundproofed studio, a great high end quality and audio editing available too</td>
                  <td class="is-responsive responsive-right">a.ghanem [at] aracast [dot] fm</td>
                </tr>
                <tr>
                  <td>Dammam, Saudi Arabia</td>
                  <td class="responsive-hide">Aljabl Podcast</td>
                  <td class="responsive-hide">4 AT2035, Zoom H5 (portable)/ Zoom Live L-12</td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide">inside KFUPM campus, can go out if needed</td>
                  <td class="responsive-hide">isaudbs [at] gmail [dot] com</td>
                <tr>
                  <td class="is-responsive">Dubai</td>
                  <td class="is-responsive responsive-right">The Mix Studio</td>
                  <td class="responsive-hide"></td>
                  <td class="is-responsive responsive-right">300 dhs/2 hours</td>
                  <td class="is-responsive responsive-right"></td>
                  <td><a href="http://inthemixme.com/">inthemixme.com</a></td>
                </tr>
                <tr>
                  <td class="is-responsive">Dubai</td>
                  <td class="is-responsive responsive-right">Kerning Cultures</td>
                  <td class="responsive-hide"> Rode NTG-2 shotgun mic, ZoomH4N, ZoomH6, Blue Yeti mic</td>
                  <td class="is-responsive responsive-right"></td>
                  <td class="is-responsive responsive-right">No studio, just gear</td>
                  <td class="is-responsive responsive-right">hebah [at] kerningcultures [dot] com</td>
                </tr>
                <tr>
                  <td>Dubai</td>
                  <td class="responsive-hide">YouthXHub - Emirates Towers</td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide">Sound leaks, but good beginner setup. Some gear available. Registration required, free for under 35 years old</td>
                  <td class="responsive-hide"><a href="https://hub.youth.gov.ae/en">hub.youth.gov.ae/en</a>
                <tr>
                  <td class="is-responsive">Dubai<td>
                  <td class="is-responsive responsive-right">Dubai Fashion News</td>
                  <td class="responsive-hide">Blue Yeti</td>
                  <td class="is-responsive responsive-right"></td>
                  <td class="is-responsive responsive-right">hello [at] dubaifashionnews [dot] com</td>
                </tr>
                <tr>
                  <td class="is-responsive">Jeddah</td>
                  <td class="is-responsive responsive-right">Mstdfr Studio</td>
                  <td class="responsive-hide">
                    4 Heil PR40 mics, Tascam 20x20 audio interface.
                  </td>
                  <td class="is-responsive responsive-right">300 SR/2hrs</td>
                  <td class="is-responsive responsive-right"></td>
                  <td class="is-responsive responsive-right">rami [at] mstdfr [dot] com</td>
                </tr>
                <tr>
                  <td class="is-responsive">Jeddah</td>
                  <td class="is-responsive responsive-right">House Zofi Studio</td>
                  <td class="responsive-hide">4-8 mic setup, Zoom Live L-12, Blue Yeti, Zoom R16 (portable use)</td>
                  <td class="is-responsive responsive-right"></td>
                  <td class="is-responsive responsive-right">Comfy couch for guests, Geeks Den, also available for meetups and gathering.</td>
                  <td class="is-responsive responsive-right">info [at] housezofi [dot] com</td>
                </tr>
                <tr>
                  <td>Riyadh</td>
                  <td class="responsive-hide">Podcast Arabic</td>
                  <td class="responsive-hide">4 Mics setup,mixer, couch and seats , coffee</td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide"><a href="http://podcastarabic.com">podcastarabic.com</a></td>
                </tr>
                <tr>
                  <td>Riyadh</td>
                  <td class="responsive-hide">Mics</td>
                  <td class="responsive-hide">7 Mics, Two Mixer, 7 Boom arm stand, Zoom H6n, 3 Professional Cameras for live streaming</td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide">info [at] micspod [dot] com</td>
                </tr>
                <tr>
                  <td>Riyadh</td>
                  <td class="responsive-hide">Mohtwize</td>
                  <td class="responsive-hide">Equipment for two hosts/speakers</td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide"><a href="http://mohtwize.com">mohtwize.com</a></td>
                </tr>
                <tr>
                  <td>Riyadh</td>
                  <td class="responsive-hide">67|22 </td>
                  <td class="responsive-hide">2 mics</td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide">welcome [at] 6722 [dot] space</td>
                </tr>
                <tr>
                  <td>Seattle</td>
                  <td class="responsive-hide">Mics</td>
                  <td class="responsive-hide">Rode NTG-2 shotgun mic, Rode NTA-1 cardiod mic with stand, Zoom H6, 2 Audiotechnica Lav mics, EV RE50B dynamic mic</td>
                  <td class="responsive-hide"></td>
                  <td class="responsive-hide">No studio, just gear</td>
                  <td class="is-responsive responsive-right">hebah [at] kerningcultures [dot] com</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</section>


